*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.borde{
    border: 1px solid gray;
}
.titulo{
    height: ;
}
.contenedor{
    width: 95%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
nav{
    height: 70px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
} 
.logo{
   flex: 15%;
}
.menu{
    flex: 75%;
}
.ingreso{
    flex: 15%;
}
.header, section{
    height: 500px;

}
.portafolio{
    display: flex;
    flex-flow: row nowrap;
}
.port-izq{
    flex: 1;
}
.port-cnt{
    flex: 1;
}
.port-der{
    flex: 1;
}
.nosotros{
    display: flex;
    flex-wrap: wrap;
}
.nosotros-cnt2{
    flex: 0 0 20%;
}

.nosotros-izq1, .nosotros-der3 {
    flex: 0 0 40%
}
.bordecontacto{
 display: flex;
   flex-direction: row;
   height: 400px;

} 
.contacto{
    flex: 1;
    border-right: 2px solid black
}
.ubicacion{
    flex: 1;
   display: flex;
   flex-direction: column;
}
.ubicacion-ar{
    flex: 1;
    border-bottom: 2px solid salmon
    
}
.ubicacion-ab{
    flex: 1;
}