* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav, footer, .titulo{
    height: 100px;
}
.logo{
    background: blue;
}
.menu{
    background: green;
}
.ingreso{
    background: salmon;
}
header, section{
    height: 450;
}
